.parent{
    position: relative;
    height: 200vh;
}

.child-one{
    position: sticky;
    top: 0;
}

.chile-two{
    position: absolute;
    top: 0;
}

.child-three{
    position: fixed;
    right: 0;
    top: 0;
}